              <div class="row">
                 <div class="col-md-8">
                   <h2 class="ind"> Evolution Chart </h2>
                   <button><a href="/">Back</a></button></br>
                          <table>
                          <tbody id="tevolut"></tbody>  
                          </table>
                 </div>
                 <div class="col-md-4">                   
                 </div>
               </div>  
                <div class="row" >
                  <div class="col-md-3" >
                    <figure>
                    <img src="images/bulba.jpg" width="100" height="100">
                    <figcaption>Bulbasaur 1St Level</figcaption>
                    </figure>
                  </div>
                  <div class="col-md-3">
                    <br>
                   <figure> 
                   <img src="images/ivy.jpg" width="100" height="100"> 
                   <figcaption>Ivysaur 16th Level</figcaption>
                 </figure>
                  </div>
                  <div class="col-md-3" >
                    <figure>
                    <img src="images/vena.jpg" width="100" height="100">
                    <figcaption>Venusaur 32th Level</figcaption>
                  </figure>
                  </div>
                  <div class="col-md-3"></div>
                </div> 
                <div class="row">
                  <div class="col-md-8">
                    <hr>
                    <p class="p1" >Bulbasaur (Japanese: フシギダネ Fushigidane) is a dual-type Grass/Poison Pokémon introduced in Generation I. It evolves into Ivysaur starting at level 16, which evolves into Venusaur starting at level 32</p>
                  </div>
                  <div class="col-md-4"></div>
                </div>
              <script type="text/javascript" src="js/evolutio.js"></script>
