            <div class="row">
              <div class="col-md-12">
                <h2 class="ind">Pokemon  Normal</h2>
                <button><a href="/">Back </a></button>                   
                
              </div>              
            </div>
          <div class="row">
                 <div class="col-md-3">
                 <h2 class="ind">Avatar  Normal Table 1</h2>
                   <table >
                   <tbody id="tbodyditto1"></tbody>                   
                   </table>

                 </div>
                 <div class="col-md-3">
                  <h2 class="ind">Avatar  Normal Table 2</h2>
                  <table >
                    <tbody id="tbodyditto2"></tbody>
                  </table> 

                 </div>
                 <div class="col-md-3">
                  <h2 class="ind">Avatar  Normal Table 3</h2>
                  <table >
                    <tbody id="tbodyditto3"></tbody>
                  </table> 

                 </div>
                 <div class="col-md-3">
                  <h2 class="ind">Avatar  Normal Table 4</h2>
                  <table >
                    <tbody id="tbodyditto4"></tbody>
                  </table> 

                 </div>
                 
                  
            </div>
              
              <script type="text/javascript" src="js/pokenormal.js"></script>
