<div class="row">
              <div class="col-md-12">
                <h2 class="ind">Pokemon  Poison</h2>
                <button><a href=".">Back </a></button>                
              </div>              
            </div>
          <div class="row">
                 <div class="col-md-4">
                 <h2 class="ind">Avatar  Poison Table 1</h2>
                   <table >
                   <tbody id="tbodyditto5"></tbody>                   
                   </table>
                 </div>
                 <div class="col-md-4">
                  <h2 class="ind">Avatar  Poison Table 2</h2>
                  <table >
                    <tbody id="tbodyditto6" ></tbody>
                  </table> 
                 </div>
                 <div class="col-md-4">
                  <h2 class="ind">Avatar  Poison Table 3</h2>
                  <table >
                    <tbody id="tbodyditto7" ></tbody>
                  </table> 
                 </div>
            </div>        
              <script type="text/javascript" src="js/pokepoison.js"></script>
