
<div class="row" >
              <div class="col-md-12">
                <h2 class="ind">Pokemon </h2>                   
                
              </div>              
            </div>
<div class="row">
                 <div class="col-md-3">
                 <h2 class="ind">Avatar 1</h2>
                   <table  >
                   <tbody id="tbody1"></tbody>
                   </table>

                 </div>
                 
                   <div class="col-md-3">
                       <h2 class="ind">Avatar 2</h2>
                        <table>
                          <tbody id="tbody2"></tbody>
                        </table>   

                 </div>
                 <div class="col-md-3">
                     <h2 class="ind"> Move Table 1 </h2>
                    <table>
                      <tbody id="tbody3"> 
                        
                      </tbody>
                    </table>
                 </div>
                 <div class="col-md-3">
                    <h2 class="ind"> Move Table 2 </h2>

                    <table>
                      <tbody id="tbodynext3"> 
                        
                      </tbody>
                    </table>

                 </div>
            </div>
          
            <div class="row">
                 
                  
                 <div class="col-md-4">
                   <h2 class="ind">Base Stat 1</h2>
                          <table>
                            <tbody id="tbody4"></tbody>
                          </table>
                 </div>
                 <div class="col-md-4">
                     <h2 class="ind">Base Stat 2</h2>
                          <table>
                            <tbody id="tbody5"></tbody>
                          </table>
                 </div>
                  <div class="col-md-4">
                    <h2 class="ind"> Battle Armor </h2>
                    <table>
                            <tbody id="tability"></tbody>
                          </table>
                  </div>
                </div> 
                <script type="text/javascript" src="js/rotation.js"></script>
               <script type="text/javascript" src="js/ditto.js"></script>
               <script type="text/javascript" src="js/pokemon1.js"></script>
              <script type="text/javascript" src="js/pokenormal.js"></script>
              <script type="text/javascript" src="js/pokepoison.js"></script>
               <script type="text/javascript" src="js/type3.js"></script>
               <script type="text/javascript" src="js/abilities.js"></script>
 
